.detalhesEvento {
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 60px;
}

.formConvidado {
	box-shadow: 0px 0px 5px grey;
	padding: 10px;
}

.tabelaConvidado {
	width: 50%;
	position: relative;
	margin: 0 auto;
}

.menu {
	padding-bottom: 30px;
}

.formEvento {
	box-shadow: 0px 0px 5px grey;
	padding: 10px;
}
i.icon-blue {
    color: blue;
}