<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!-- StyleCss -->
<link rel="stylesheet" href="style/styleCess.css" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="ISO-8859-1">
<title>EventosApp</title>
</head>
<body>
	<header>
		<th:block th:include="eventos/menu"></th:block>
	</header>
	<form class="container">
		<table class="responsive-table">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Local</th>
					<th>Data</th>
					<th>Horario</th>
					<th>Editar</th>
					<th>Excluir</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="evento: ${eventos}">
					<td><span th:text="${evento.nome}"></span></td>
					<td><span th:text="${evento.local}"></span></td>
					<td><span th:text="${evento.data}"></span></td>
					<td><span th:text="${evento.hora}"></span></td>
					<td><a th:href="@{/{codigo}(codigo=${evento.codigo})}"><i
							class="material-icons icon-blue">edit</i></a></td>
					<td><a th:href="@{/deletar/{codigo}(codigo=${evento.codigo})}"><i
							class="material-icons icon-blue">delete</i></a></td>
				</tr>
			</tbody>
		</table>
	</form>
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.sidenav').sidenav();
		});
	</script>
</body>
</html>