<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="ISO-8859-1">
<title>EventosApp</title>
</head>
<body>
	<header>
		<th:block th:include="eventos/menu"></th:block>
	</header>
	<form class="container" method="post">
		<div class="row">
			<div class="row">
				<div class="input-field col s12">
					<input id="idNome" class="validate" type="text" value=""
						name="nome" /> <label for="idNome">Nome</label>
				</div>
				<div class="input-field col s4">
					<input id="idLocal" class="validate" type="text" value=""
						name="local" /> <label for="idLocal">Local</label>
				</div>

				<div class="input-field col s4">
					<input id="idData" class="validate" type="date" value=""
						name="data" /> <label for="idData">Data</label>
				</div>

				<div class="input-field col s4">
					<input id="idHora" class="validate" type="time" value=""
						name="hora" /> <label for="idHora">Hora</label>
				</div>
			</div>
			<th:block th:include="eventos/mensagemValidacao"></th:block>
			<button class="waves-effect waves-light btn right" type="submit">Salvar</button>
		</div>
	</form>
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.sidenav').sidenav();
		});
	</script>
</body>
</html>